package components

templ ItemImage(src, alt string) {
	<div class="overflow-hidden size-24 flex-shrink-0 rounded-lg">
		<img class="w-24 h-auto flex-shrink-0 rounded-lg bg-gray-300" src={ src } alt={ alt }/>
	</div>
}
