package views

templ Base() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<title>Go Blueprint Hello</title>
			<script src="/assets/htmx.min.js"></script>
			<link rel="stylesheet" href="/assets/tailwind.css" />
			<link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
		</head>
		<body>
			<main>
				{ children... }
			</main>
		</body>
	</html>
}
